/target
/classes
/checkouts
/resources/public/js
/out
/repl
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
pom.xml
pom.xml.asc
*.jar
*.class
*.dat
*.pdf
*~
*.aux
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
/src/clj/kraken/#core.clj#
/src/clj/kraken/.#core.clj
/src/clj/kraken/api/#public.clj#
/src/clj/kraken/api/.#public.clj
